# Build and Release Folders
target/
build/
bin/

# Other files and folders
.settings/
.gradle/
eclipse/

.project
.classpath
MANIFEST.MF
build.properties
Thumbs.db
.DS_Store
config/forgeChunkLoading.cfg
config/forge.cfg
*.txt
ForgeModLoader-client-0.log.1
*.lck
*.1
*.mca
*.ppd
*.2
*.3
*.4
*.5
*.dat
*.dat_mcr
*.dat_old
saves/Worldofworldiness/session.lock
screenshots/2014-02-24_18.32.12.png
stats/stats_charsmud_unsent.old
*.lock
*.png
*.log
*.old
